*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: #000000;
}

.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000000;
  z-index: 1;
  background: #000000;
}

.search_container {
  width:300px;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  width: 50px;
  height: 50px;
}

.logo-image {
  width: 100%;
  height: 100%;
}

input {
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  border-radius: 16px;
}


.searchbutton {
 padding: 0.5rem 3rem;
 margin-left: 10px;
 background: #FFCE00;
 color: #DD0000;
 font-size: 1.2rem;
 cursor: pointer;
 text-align: center;
 border-radius: 16px;
}

.german-container {
  width: 350px;
  height: 60px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.german-card {
  width: 70px;
  height: 50px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: none;
}

.german-image {
  width: 55px;
  height: 40px;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: contain;
}

.about-button {
  width: 100px;
  height: 45px;
  background: #5b375b;
  color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  position: fixed;
  top: 90%;
  right: 2%;
  padding: 0.5rem 0.5rem;
  border: 1px black;
  background: #324589;
  color: white;
  width: 100px;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
}

.gallery {
  width: 100%;
  margin: 10vh 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  flex-direction: row;
  object-fit: cover;
  transition: 2s linear;
}

.gallery div {
  position: relative;
  overflow: hidden;
}

img {
  margin-left: 5px;
  height: 300px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 8px 20px #FFCE00;
  overflow: hidden;
  transition: .2s linear;
  transform: scale(1);
}

p {
  position: absolute;
  margin: 8px;
  bottom: 10px;
  color: #FFFFFF;
}

a {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  color: #FFFFFF;
  margin-left: 10px;
  font-weight: bold;
}
